@use "sass:map";
@use "sass:math";
$primary: #e78c42;
$secondary: #ced4da;
$text-muted: rgb(255, 255, 255, 0.5);
$box-shadow-lg: 10px 10px 5px rgba(black, 0.1);
$gradient: linear-gradient(220deg, rgb(255, 247, 213) 10%, $primary 35%, #db7d58 55%, #2b1e38 90%);
$popover-bg: lighten(#212529, 5);
$popover-body-color: #f8f9fa;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.overflow-x-hidden {
    overflow-x: hidden;
}

.wp-4 {
    $size: map.get($spacers, 4);
    width: calc(100% - ($size * 2));
}

.background {
    z-index: -1;
}

.overlay {
    z-index: 1;
}

.animation-up {
    transition-property: transform;
    transition-duration: 500ms;

    &:hover {
        transform: translateY(-5px);
    }
}

.polygon {
    clip-path: polygon(0 map.get($spacers, 4), 100% 0, 100% 100%, 0 100%);
}

span.highlight {
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='282' height='8' fill='none'%3e%3cpath fill='%23E78C42' fill-rule='evenodd' d='M267.969 2.18c13.232 1.358 11.07.341 10.716 1.01l3.315.794-2.502 1.14c.158.117.379.283.601.45-.163.077-.349.244-.515.236-4.099-.199-8.062.718-12.194.533-4.145-.185-8.371-.29-12.475.037-3.343.264-6.657.346-9.997.425-1.03.024-1.871-.543-3.123-.09-.937.34-2.393.068-3.619.068h-4.041c-1.226 0-2.45-.003-3.675.001-1.22.002-2.441.008-3.661.026-.089.001-.174.106-.484.309 1.15.097 2.121.178 3.092.258l-.014.305c-1.278.02-2.556.05-3.833.059-1.347.01-2.694.006-4.042-.001-.229-.001-.57.007-.67-.08-1.356-1.19-2.885-1.043-4.691-.434-.678.228-1.686.037-2.543.037-11.514 0-23.029-.012-34.541.018-1.254.003-2.702-.4-3.748.458-.048.038-.297.039-.349 0-1.034-.795-2.212.391-3.034-.03-1.062-.54-1.776-.447-2.777-.003-.304.137-1.102-.107-1.6-.273-.695-.232-.651-.554-.006-.836-.127-.098-.23-.252-.386-.282-.213-.04-.597-.04-.677.042-.241.245-.272.6-.567.793-.392.258-.954.555-1.448.559-.849.007-1.895-.455-2.51-.257-.988.318-1.608.278-2.586.017-.668-.177-1.656.25-2.505.26-3.419.036-6.841.014-10.181.014-.337-.357-.621-.66-.906-.96l-1.771.987c-1.43.236-3.91-.655-5.404.968l-1.209-.87c-2.906.53-5.718.607-8.525-.02-2.904.875-5.913.112-8.847.412.063-.442.217-.943.125-.962-1.143-.251-.959.43-1.28.888h-3.893l-.518.921c-.171-.055-.408-.082-.497-.172-.698-.696-1.891-.981-2.833-.67-2.207.73-4.477.343-6.71.425-1.924.07-3.858.014-5.825.362l3.534.233c-2.693.154-5.556 1.147-7.57-.448-1.414.133-2.543.32-3.678.333-3.525.04-7.052.015-10.505.015l-.586 1.103-1.562-1.538c-.25.66-.83 1.343-1.88.87-1.113-.499-1.749-.156-2.767-.023-1.86.242-3.848.069-5.839.38.913.093 1.825.186 2.785.286-.152.156-.252.35-.355.35-2.694.017-5.397.096-8.083-.013-1.982-.08-3.894-.66-5.943-.452-.333.035-.66.097-.994.369l2.95.201c-3.074.207-6.084.755-9.181.005-1.371-.332-3.086-.056-4.74.2l2.05.328c-.12.126-.215.322-.317.323-1.222.016-2.443.003-3.664-.002-.657-1.013-1.638.492-2.635-.174-.65-.433-2.002.584-3.315-.205-.716-.428-2.526-.076-3.894.235l2.894.296c-.214.154-.344.33-.48.332-1.836.018-3.677-.04-5.51.023-3.576.123-7.205.113-10.698.548-1.883.235-3.73.283-5.592.431-1.599.126-3.157.494-3.781 1.877-.638 0-2.054.164-2.18-.029-.546-.844-2.205-.932-2.577-1.658-.35-.686-.927-.897-1.797-1.216-1.753-.644-2.13-1.876-1.244-3.076L.003 7.952c.022-.173-.054-.382.073-.475C1.449 6.46 3.059 5.937 5.253 5.76c3.595-.291 7.11-1.01 10.793-.898 2.111-.842 4.45-.332 6.677-.489 1.741-.122 3.465-.374 5.21-.455 1.704-.08 3.605.285 5.1-.09 2.151-.537 4.26-.469 6.346-.365 2.682.134 5.155-.574 7.784-.532 2.694.04 5.501.327 8.061-.06 4.94-.744 9.911-.003 14.775-.46 6.03-.569 12.117-.017 18.062-.515 8.008-.673 15.985-.162 23.965-.395.977-.028 1.959.004 2.939-.005.825-.007 1.73.143 2.282-.457.437.758 1.384-.076 2.148.29.468.223 1.633-.24 2.501-.297.97-.063 1.957-.015 2.937-.015h11.023c.98 0 1.967-.046 2.939.012 1.148.07 2.285-.183 3.475.349.573.256 1.905-.323 2.899-.341 3.06-.054 6.125.015 9.185-.038 1.139-.019 2.42.349 3.392-.452.636-.526 1.112.918 2.075.131.304-.248 1.831-.29 1.994-.11.926 1.008 1.973-.523 2.678.098 1.001.88 1.622-.155 2.428-.122.456.019.906.111 1.359.169.792.102 2.051.455 2.298.26 1.006-.794 2.181-.015 3.284-.32 1.141-.317 2.631-.114 3.968-.114 24.005-.003 48.014.021 72.02-.03 3.202-.007 6.507.518 9.616-.453 1.636.918 3.25-.1 4.907-.053 5.132.147 10.278.053 15.772.053-.184.375-.296.913-.482.924-2.594.156-5.106.62-7.777.556-5.382-.128-10.776-.04-16.165-.029-.195.001-.389.15-.584.23.245.08.477.193.736.235.648.105 1.243.637 2.006.03.196-.157.935-.023 1.424-.023 7.095 0 14.187 0 8.666.201-12.8.118-12.786.033-12.773-.052-1.137-.2-2.26-.462-3.419-.576-.615-.06-4.504.028-5.062-.023-.476-.044-1.21-.16-1.411-.008-.999.754-2.27.443-3.413.444-17.401.019-34.801.02-52.201-.007-1.021 0-2.186.354-3.113-.31-.177-.128-.817-.19-.945-.1-1.115.788-2.526.332-3.791.42-2.589.177-5.238-.29-7.81.446-.726.208-1.834-.092-2.743-.225-1.749-.256-3.485-.44-5.191.085-.595.183-1.331-.504-1.822.146-.941-.774-2.519-.648-3.336-.368-1.363.468-2.348-.42-3.497-.076-.205.06-.513.041-.64.136-.604.452-1.038.35-1.828.07-.765-.272-1.965-.349-2.775-.155-1.05.252-2.321.446-3.129.338-1.255-.166-2.317.06-3.463.088-8.965.214-17.933-.292-26.91.429-6.7.537-13.494-.192-20.289.454-6.18.587-12.516-.152-18.81.494-4.96.51-10.086-.213-15.136.495-2.343.329-4.896-.045-7.33.085-2.234.12-4.415-.217-6.762.314-2.188.494-4.832.12-7.275.144-.377.004-.753.095-1.13.146.5.328.955.337 1.41.326 4.314-.098 8.606.035 12.946-.403 5.213-.525 10.55.143 15.875-.48 4.942-.577 10.134.437 15.109-.566.7-.14 1.295.922 1.987.04.796.79 1.542-.05 2.312-.06 6.029-.082 12.091.394 18.084-.433.803-.11 2.005-.201 2.465.083 1.042.645 1.551-.362 2.456-.14.751.186 1.693.039 2.55.039 4.903 0 9.805.026 14.705-.018 1.26-.011 2.665.364 3.796-.412.126-.086.788.195 1.217.256.569.082 1.495.288 1.667.14.684-.584 1.088-.074 1.672-.014.581.06 1.256-.402 1.889-.402 1.024 0 2.219-.334 3.036.4.71-.55 1.688-.431 2.606-.426.931.005 1.968-.198 2.631.468.66-.682 1.713-.464 2.64-.466 6.128-.012 12.257.086 18.38-.033 6.025-.118 12.104.547 18.078-.454.736.461 1.692.213 2.517.256 1.065.057 2.163-.233 3.248-.236 1.257-.003 2.63-.284 3.714.418 1.199-.859 2.763-.411 4.133-.415 16.174-.036 32.349-.022 48.524-.027 1.181 0 2.363-.047 16.357-.275' clip-rule='evenodd'/%3e%3c/svg%3e");
        top: calc(100% - 7px);
        right: 0;
        left: 0;
        height: 8px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }
}

.animation-hover {
    transition: color .2s ease-in-out;
    color: $text-muted;
    text-decoration: none;

    &:hover {
        color: $primary;
    }
}

@for $i from 1 through 6 {
    h#{$i} a {
        @extend .animation-hover;
        color: white;
    }
}

$size: 20;
$alpha: 0.09;

@for $i from 1 through 2 {
    .reflect-#{$i} {
        position: absolute;
        $size-in-pixel: #{$size}px;
        top: -$size-in-pixel;
        bottom: -$size-in-pixel;
        right: -$size-in-pixel;
        left: -$size-in-pixel;
        background-color: rgba($dark, $alpha);

        @if $i ==1 {
            border-radius: $size-in-pixel;
        }

        @else {
            border-radius: #{math.div($size, 1.5)}px;
        }
    }

    $size: $size + 20;
    $alpha: $alpha - 0.03;
}

.h-70 {
    height: 70%;
}

@media (min-width: 992px) {
    .h-lg-90 {
        height: 90% !important;
    }

    .polygon {
        clip-path: polygon(0 map.get($spacers, 5), 100% 0, 100% 100%, 0 100%);
    }
}